
  <!--
NAME @: Diljyot Singh
TOPIC @: License Plate Recognition and Detection
DATE @: 04/01/2024
-->

<!DOCTYPE html>
<html>
<title>License Plate Recognition and Detection</title>


<!-----------------------------  BODY SECTION  ----------------------------------->

<body style="background-color: gray;">
<!-----------------------------  HEADER SECTION  ----------------------------------->


    <header style = "background-color: black;">
        <div>
        <img src = "/static/Head.png" align="right" height = "200px" width = "250px">
        <img src = "/static/Head.png" align = "left" height = "200px" width = "250px">
        <br><br>
        <h1 align ="center" style ="color: white;"><big>License Plate Recognition and Detection</big></h1>
        </div>
        <br>
        <br>
        <h3 align = "center" style = "color: white;"> Using YOLOv8 and EasyOCR</h3>



    </header>



<!----------------------------- EXTENSION  ----------------------------------->
    {% block content %}





    {% endblock %}
<!----------------------------------------------------------------------------->





</body>
<!-----------------------------  FOOTER SECTION  ----------------------------------->

<footer style="background-color: black;">
    <p>Find me on</p>

      <p align = "center"><a href="https://github.com/diljyotsingh019" 
        target="_blank" style = "color: white;">Github</a>
      <a href="https://www.linkedin.com/in/diljyot-singh-869373152/" 
      target="_blank" style = "color: white;">LinkedIn</a></p>
      <p align = "center" style = "color: grey;">Made by Diljyot Singh</p>
      <br>
      <br>
    </footer>
  </html>

  <!-----------------------------  THE END  ----------------------------------->